
//CHANGE RED
.navbar{border-top: solid #F63636 5px;}
.navbar li a:active, .ativo{background:#F63636;}
.navbar li a:hover{background:#A63636;}
//---------------------------------------------

//CHANGE BLUE
.navbar{border-top: solid #3c56b5 5px !important;}
.navbar li a:active, .ativo{background:#3c56b5;}
.navbar li a:hover{background:#363676;}
//---------------------------------------------


 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { text-decoration: none; color:#f63636; cursor: pointer;}
 a:hover { text-decoration: none; color:#f68686; }


body{
background:#1b1b1b;
margin:0px;
max-height:100%;
overflow-x:hidden;
overflow-y:hidden;
}


h1{font-family:Oswald;font-size:50;font-weight:400;}

.textboks{
position:absolute;
width:100%;
text-align:center;
top:10%;
z-index:5000;
text-transform: uppercase;
color: white;
text-shadow: 3px 3px 3px rgba(0,0,0,0.8);
}


.navbar{
transition: all 500ms ease;
border-top: solid #F63636 5px;
background:#050505;
height:50px;
box-shadow:0 5px 15px 0 rgba(0,0,0,.4);
width:100%;
position:fixed;
transition: all 500ms ease;
z-index:8000;
}


.navbar ul{
transition: all 500ms ease;
padding: 0 15px;
margin:0px;
height:100%;
float:right;
}

.navbar ul li{
transition: all 500ms ease;
display: inline-block;
margin: 0 -2px;
transition: all 500ms ease;
}

.navbar ul li a{
transition: all 500ms ease;
padding: 0 14px;
font-family: Oswald;
font-weight: 400;
font-size: 20;
color:white;
display: inline-block;
text-transform: uppercase;
text-align:center;
width: 80px;
//height:100%;
line-height:50px;
}

.navbar li a{
text-decoration: none;
color: white;
}

.navbar li a:active, .ativo{
transition: all 500ms ease;
text-decoration: none;
color: white;
background:#F63636;
}

.navbar li a:hover{
transition: all 200ms ease;
text-decoration: none;
background:#A63636;
color: white;
}


#landing{
position:fixed;
overflow-y:visible;
text-align:center;
z-index:3;
width:100%;
height:100%;
box-shadow: 0px 0 55px 25px rgba(0,0,0,0.5);
transition: all 1.5s cubic-bezier(0.6, 0, 0.3, 0.89);

}
.red{	
position:absolute;
left:0;

left:0;
height:100%;
width:50%;
display:inline-block;
background:#f64649;
transition: all 500ms ease;
z-index:1001;
}

.blue{
position:absolute;
right:0;

background:#454eb6;
height:100%;
width:50%;
display:inline-block;
}

.red:hover{
transition: all 500ms ease;
box-shadow: 0px 0 85px 25px rgba(0,0,0,0.5);

}
.blue:hover{
transition: all 500ms ease;
box-shadow: 0px 0 85px 25px rgba(0,0,0,0.5);
z-index:1002;
}



img.landicon{
top:30%;
position:absolute;

}
#landblu{right:40%;}
#landred{left:35%;}

.blua{
margin-top: 10%;
width: 20%;
float: right;
margin-right: 5%;

}
.reda{
margin-top: 10%;
width: 20%;
float: left;
margin-left: 5%;
}



#filterbck{

position:absolute;
top:220px;
 width:85%;

 //overflow-y:auto;
 //height: calc(100% + -220px);
}



#about{
position:fixed;
background:pink;
width:40%;
height:100%;
right:-100%;
z-index:1000;

box-shadow: 15px -30px 35px 55px rgba(0,0,0,0.4);
}

#contact{
position:fixed;
background:green;
width:100%;
height:50%;
top:-100%;
box-shadow: 0px -20px 35px 15px rgba(0,0,0,0.3);
z-index:1000;
}
.button-back-2{
position:absolute;
top:11%;
left:5%;
height: 30px;
z-index:3001
}

.aboveiro{

}


.containera{position:absolute;width:100%;height:100%;z-index:5;;\\overflow:hidden;}
.container{position:absolute;width:85%;z-index:1;margin-top:2%;}

.floatert{float: right !important;}
.floatelf{float: left !important;}

#visual, #audio{
visibility:hidden;
z-index:-1 !important;

}


.header-red{
position:absolute;
height:180px;
width:100%;
background:#a83335;
z-index:1;
}

.header-blue{
position:absolute;
height:180px;
width:100%;
background:#2c3968;
z-index:1;
}

.button-back{
position:fixed;
z-index:10;
bottom: 5%;
}
.button-capsule{bottom:5%; \\overflow:hidden;pointer-events:auto;}
#bkred{right:-5%;}
#bkblu{left:-5%;}


@media screen and (max-width: 768px){

.navbar{

border-top: solid #F63636 3px;
height:35px;
box-shadow:0 5px 8px 0 rgba(0,0,0,.4);
}

.navbar ul{

padding: 0 10px;
}

.navbar ul li{

margin: 0 -2px;

}

.navbar ul li a{

padding: 0 15px;
font-size: 16;
width: 65px;
line-height:35px;
}
} //768p

#red{transition all 1s ease;transition left 1s ease; }
#blue{transition right 1s ease;transition left 1s ease; }


.navbar-red li a:hover{background:#A63636 !important;}
.navbar-red{border-top: solid #F63636 5px !important;}
.navbar-red .ativo{background:#F63636;}


.navbar-blu li a:hover{background:#363676 !important;}
.navbar-blu{border-top: solid #3c56b5 5px !important;}
.navbar-blu .ativo{background:#3c56b5;}

.ativo{pointer-events:none;}

.nav-0{
float:center;
border-radius:0 0 50px 50px;
margin-right:25px !important;
}
